OPENAI_API_KEY=
OPENAI_MODEL=
APP_PASSWORD=

MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=

WORKSPACE_ID=
WORKSPACE_NAME=
WORKSPACE_ALLOWED_DOMAINS=
WORKSPACE_SERVICE_ACCOUNT=
WORKSPACE_MAILBOX=
WORKSPACE_ONENOTE_NOTEBOOK=
WORKSPACE_ONENOTE_SECTION=
WORKSPACE_ONENOTE_SECTION_ID=


MICROSOFT_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=
ONENOTE_TARGET_SECTION=