# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# macOS
.DS_Store

# Logs
*.log

# Local generated outputs
outputs/